html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --bg-primary: #141c2f;
  --bg-secondary: #1f2a48;
  --blue: #1263c5;
  --light-blue: #0078fe;
}

body {
  background-color: var(--bg-primary);
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;  

}

/** SEARCH  **/

.form {
  width: 85%;
  max-width: 65rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  background-color: var(--bg-secondary);
}
.form__input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 1.6rem;
}
.form__btn {
  cursor: pointer;
  background-color: var(--light-blue);
  border: none;
  color: #FFFFFF;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

/** CONTENT  **/

.content-container {
  width: 85%;
  max-width: 65rem;
  padding: 2.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: var(--bg-secondary);
}

/** BASIC INFORMATION **/

.basic {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.basic img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.basic__data {
  display: flex;
  flex-direction: column;
  gap: .45rem;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .basic {
    justify-content: center;
  }
  .basic__data {
    flex-grow: 0;
  }
}
.basic__username {
  font-size: 1.8rem;
}
.basic__id {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue);
}
.basic__date {
  font-size: 1.5rem;
}
.description {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .description {
    text-align: center;
  }
}

/** PROFILE INFORMATION **/

.profile-info {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 3rem;

  margin-top: 3rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--bg-primary);
  padding: 2rem 3rem;
}
.profile-info h4 {
  font-size: 1.7rem;
  font-weight: 300;
  color: #cfd1d6;
}
.profile-info p {
  margin-top: .5rem;
  font-size: 1.7rem;
  font-weight: bold;
}

/** PROFILE INFORMATION **/

.profile-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .profile-links {
    justify-content: center; 
    align-items: center;
  }
}

.profile-links-data {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.profile-links-data p {
  font-size: 1.65rem;
}
.profile-links-data a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.65rem;
}

/** LOADING **/

svg {
  width: 5.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: var(--blue);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

.disabled {
  color: #6d6e6e!important;
}

.not-found {
  text-align: center;
  width: 85%;
  max-width: 65rem;
  margin: 0 auto;
  background-color: var(--light-blue);
  color: #FFFFFF;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}